#areaEditWindowBody {
    background-color: #73737386;
}
div.mainwindow{
    position: fixed;
    left: calc(50% - 400px);
    top: calc(50% - 295px);
    width: 800px;
    height: 540px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px grey;
    border-radius: 10px;
}
div.hierarchy {
    width: 240px;
    height: 500px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px grey;
    overflow: auto;
}
canvas{
    position: absolute;
    top: 20px;
    left: 280px;
    box-shadow: 0 0 20px grey;
}
.accordion {
    background-color: #eee;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #444;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.accordion > div{
    width: 175px;
    user-select: none;
}
.accordion > div[contentEditable="false"]{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
input[type="color"]{
    position: absolute;
    right: 0;
    border: 1px solid #ccc;
    border-top: none;
    background: none;
    border: none;
    padding: 4px 6px;
    width: 36px;
    height: 36px;
}
button.editName{
    position: absolute;
    right: 35px;
    width: 16px;
    height: 36px;
    border: none;
    background: none;
    opacity: 1;
    transition: 0.4s;
    user-select: none;
}
button.editName > img{
    position: absolute;
    top: 10px;
    left: 0px;
    width: 16px;
    height: 16px;
}
button.editName:disabled{
    opacity: 0;
    pointer-events: none;
}
.active, .accordion:hover {
    background-color: #aaa;
}
.shapesMenu {
    width: 100%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    user-select: none;
}
.shapesMenu > .shapeitem{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 6px 22px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.shapeitem > div[contentEditable="false"]{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.shapesMenu > .item-active, .shapesMenu > .shapeitem:hover {
    background-color: #ccc;
}

input[type="radio"]{
    display: none;
}

input[type="radio"] + img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s;
}
 
input[type="radio"]:checked + img {
   filter: brightness(80%);
}

#lpa-point-mode-select{
	position: absolute;
    left: 820px;
    top: 0;
}

#lpa-point-mode + img{
	border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #ccc;
}

#lpa-shape-mode-select{
	position: absolute;
    left: 820px;
    top: 41px;
}

#lpa-shape-mode + img{
    border-bottom: 1px solid #ccc;
}

#lpa-area-mode-select{
	position: absolute;
    left: 820px;
    top: 82px;
}

#lpa-area-mode + img{
	border-radius: 0 0 10px 10px;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s;
}

input[type="checkbox"]:checked + img {
    filter: brightness(80%);
}

#lpa-hand-tool-use{
	position: absolute;
    left: 820px;
    top: 200px;
}

#lpa-hand-tool + img{
	border-radius: 10px;
}

button.save{
    position: absolute;
    top: 550px;
    left: 0px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    transition: 0.3s;
}
button.save > img{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 32px;
    height: 32px;
}
button.save:hover:enabled{
    background-color: rgb(126, 203, 255);
}
button.undo{
    position: absolute;
    top: 550px;
    left: 50px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    transition: 0.3s;
}
button.undo > img{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 32px;
    height: 32px;
}
button.undo:hover:enabled{
    background-color: rgb(126, 203, 255);
}
button.redo{
    position: absolute;
    top: 550px;
    left: 100px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    transition: 0.3s;
}
button.redo > img{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 32px;
    height: 32px;
}
button.redo:hover:enabled{
    background-color: rgb(126, 203, 255);
}
button.cancel{
    position: absolute;
    top: 550px;
    left: 570px;
    width: 110px;
    height: 40px;
    background-color: rgb(196, 26, 4);
    border:0;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}
button.cancel:hover {
    background-color: rgb(196, 87, 73);
}
button.confirm{
    position: absolute;
    top: 550px;
    left: 690px;
    width: 110px;
    height: 40px;
    background-color: rgb(26, 182, 26);
    border:0;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}
button.confirm:hover {
    background-color: rgb(120, 182, 120);
}